.bigerdiv{
    background-image: url(/assets/coin\ img\ hpilfy.jpg);
    min-height: calc(538px - 46px);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.bighead{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .9;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.digdiv{
    background-color:  rgb(2, 2, 45);
}
.fistdiv{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.linkdiv{
    display: flex;
    color: white;
    flex: 90;
    margin-left: 10px;
    margin-top: 5px;
}
.loginlink{
    display: flex;
    color: white;
    flex: 10;
    margin-top: 5px;
}
.svgf{
    fill:  #fc0077;
    width: 10px;
}
.head{
    background-color: initial;
    position: absolute;
    width: 100%;
    transition: .3s ease;
    z-index: 2000;
    position: sticky;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    color: white;
    @media screen {
        
    }
}
.imgflex{
    display: flex;
    align-items: center;
    flex: 90;
    color: white;
}
.itemflex{
    list-style: none;
    display: flex;
    align-items: center;
    flex: 10;
    margin-left: 20px;
}
.item{
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
    color: white;
}
.itembutton{
    margin-left: 20px;
    width: 80px;
    border: 2px solid #fc0077;
    border-radius: 7px;
    height: 40px;
    background-color: #fc0077;
    color: white;
}
.fristbanaer{
    flex: 1;
    padding-top: 18.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 20;
    color: white;
}
.graphtwo{
    background-color:#04032e;
    padding: 50px;
    
}
.graphdiv{
    margin-top: 80px;
    margin-bottom: 80px;
}
.phrasal{
    font-size: 10px;
}
.importantdiv{
    background-color: #050440;
    padding: 20px;
}
.accord{
    border: 2px solid white;
    margin-bottom: 10px;
}
.accordion-item{
    background-color: #050440 !important;
    color: white !important;
}
.accordion-button{
    background-color: #050440 !important;
    color: white !important;
    border-radius: none;

}
.flq{
    text-align: center;
    color: whitesmoke;
    margin-bottom: 80px;
    margin-top: 30px;
}
