
.header{
    height: 60px;
    background-color: gray;
}
.logo{
    color: white !important;
}
.logo:hover{
    background-color: lightslategray;
}
.fristimg{
    margin: auto;
    width: 120px;
}
.post{
    background-color: gray;
    border:none;
    padding: 10px;
    color: white;

}
.post:hover{
    background-color: white;
    color: black;
}
.status{
    width: 100%;
    margin-bottom: 30px;
}
.secimg{
    padding-left: 20px;
    padding-right: 20px;
}
.info{
    width: 100%;
    border: none;
    background-color: gray;
    color: white;
}
.info:hover{
    background-color: white;
    color: black;
}
.my{
    background-color: grey !important;
}
/* .triimg{
    width: 20px;
} */
.jeopeo{
    width: 110px;
    display:flex;
    padding: 26px;
}
.like{
    background-color: gray;
    width: 80px;
    color: white;
    border: none;
    height: 35px;

}
.comment{
    background-color: gray;
    width: 120px;
    color: white;
    border: none; 
    margin-top: 20px;
    height: 35px;
}
.like:hover{
    background-color: white;
    color: black;

}
.comment:hover{
    background-color: white;
    color: black;
}
.svgs{
    width: 20px;
    fill: white;
    margin-left: 10px;
}
.linksvg:hover{
    background-color: white;
    color: black !important;
}
.profilesvg{
    width: 25px;
    margin-right: 10px;
}
.likecomment{
    fill: white;
    width: 19px;
}
.svgpost{
    fill: white;
    width: 19px;
}
.janetimg{
    width: 90px !important;
    margin: auto;
}
.groupbtn{
    width: 20px;
    fill: white;
}
.groupcolor{
    background-color: greenyellow;
    width: 160px !important;
    border: solid 1px !important;
}
.groupseccolor{
    background-color: tomato;
    width: 160px !important;
    border: solid 1px !important; 
    @media screen and (max-width:980px) {
        width: 70px; 

}
}
.groupseccolor{
    @media screen and (max-width:980px) {
        width: 70px; 
}
}

.groupcolor:hover{
    background-color: gray;
    border: 1px solid;
}
.groupseccolor:hover{
    background-color: gray;
    border: 1px solid; 
}
.intrest{
    background-color: gray;
}
.freindrequest{
   
}
